
@import "tailwindcss";

/* Make the app use full viewport height */
html,
body,
#root {
  height: 100%;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Tailwind gray-100 */
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    #ec4899,
    #ef4444
  ); /* pink-500 → red-500 */
  border-radius: 9999px; /* rounded-full */
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    to bottom,
    #db2777,
    #dc2626
  ); /* pink-600 → red-600 */
}
